<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia Summarizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
    <div class="container">
                <div class="logo">
                    <ul><a>Text Insight</a><ul>
                </div>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                    </ul>
                </nav>
            </div>
    </header>
    <main>
    <main>
    <div class="hero">
        <div class="container">
            <h1>Keyword Extraction</h1>
            <h3>Extract the most relevant keywords from your text</h3>
            <p>Automatically identify key terms and phrases to summarize your content effectively.</p>
            <a href="#Extract" class="button">Extract</a>
        </div>
    </div>

    <div class="container" id="Extract">
        <h3>Enter Text for Keyword Extraction</h3>
        <form action="/keyword-extraction" method="post">
            <textarea name="text" rows="10" cols="30" required></textarea>
            <br>
            <button type="submit" class="button">Extract Keywords</button>
        </form>
    </div>
</main>

    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Text Analysis Tool. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
